@import url(https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Poppins:wght@500;900&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #232323;
  line-height: 1;
  font-family: "Libre Baskerville", sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Libre Baskerville", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  margin: 0 auto;
  max-width: 71.875rem;
  box-sizing: content-box;
}
@media (max-width: 73.75em) {
  [class*=__container] {
    max-width: 60.625rem;
  }
}
@media (max-width: 61.99875em) {
  [class*=__container] {
    max-width: 46.875rem;
  }
}
@media (max-width: 47.99875em) {
  [class*=__container] {
    max-width: none;
    padding: 0 0.9375rem;
  }
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.8rem;
  color: #333333;
  margin: 0px 0px 10px 0px;
}

.subtitle {
  max-width: 900px;
  margin: 10px auto 0;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.3rem;
  color: #333333;
}

.link {
  font-weight: 700;
  color: #CC0000;
  border-bottom: 1px dotted #CC0000;
  transition: all 0.5s;
}
.link:hover {
  color: #232323;
  border-bottom: 1px dotted #232323;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0.005rem 0.2rem 0.05rem #e8e7e7;
  background: #FFF;
  z-index: 50;
}
.header__contain {
  max-width: 1400px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  background: #CC0000;
  color: #FFF;
  padding: 5px;
}
.header__logo-img {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 40px;
}
.header__list {
  display: flex;
  align-items: center;
}
.list-header__link {
  color: #999;
  font-size: 0.7em;
  letter-spacing: 0.2em;
  transition: all 0.5s;
}
.list-header__link.active {
  color: #CC0000;
}
.list-header__link:hover {
  color: #CC0000;
}
.list-header__slice {
  margin: 0 8px;
  cursor: default;
}

.burger-header__btn {
  width: 19px;
  height: 15px;
}

.svg-burger {
  fill: #CC0000;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
.footer {
  margin: 30px 0px 30px 0px;
  padding: 10px 0px;
  box-shadow: 0 0.005rem 0.2rem 0.05rem #d3d3d3;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__logo {
  background: #CC0000;
  color: #FFF;
  padding: 5px;
}
.footer__logo-img {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 40px;
}
.footer__scroll-up {
  width: 24px;
  height: 24px;
}

.page {
  margin: 80px 0px 0px 0px;
}
.page__story-me {
  margin: 50px 0px 0px 0px;
}
.page__info-biolica {
  margin: 50px 0px 0px 0px;
}
.page__questions {
  margin: 50px 0px 0px 0px;
}
.page__register {
  margin: 50px 0px 0px 0px;
}
.page__comments {
  margin: 80px 0px 0px 0px;
}

.maim-block__container {
  display: flex;
  align-items: center;
}
.maim-block__body {
  flex: 0 1 50%;
  background: rgba(0, 0, 0, 0.9);
  color: #FFF;
  padding: 16px 32px;
  margin: 0px -22px 0px 0px;
  position: relative;
  z-index: 2;
  border: 1px solid #CC0000;
}
.body-maim-block__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.2em;
}
.body-maim-block__subtitle {
  margin: 15px 0px 10px 0px;
  font-weight: 700;
  font-size: 0.95rem;
}

.story-me__container {
  line-height: 1.9rem;
  letter-spacing: 0.025em;
}
.story-me__text {
  margin: 0px 0px 38px 0px;
}
.story-me__img-body {
  margin: 0px 0px 20px 0px;
}
.story-me__img-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.story-me__img-box > *:not(:last-child) {
  margin: 0px 20px 0px 0px;
}
.story-me__flex-img-box {
  margin: 0px 40px 0px 0px;
}
.story-me__img {
  max-height: 600px;
}
.story-me__flex-box {
  display: flex;
  margin: 0px 0px 20px 0px;
}
.story-me__img-flex-329 {
  max-height: 329px;
}
.story-me__flex-text:not(:last-child) {
  margin: 0px 0px 38px 0px;
}
.story-me span {
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.7rem;
  color: #090909;
}

.info-biolica__container {
  line-height: 1.9rem;
  letter-spacing: 0.025em;
}
.info-biolica__text {
  margin: 0px 0px 38px 0px;
}
.info-biolica__img-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-biolica__img-box > *:not(:last-child) {
  margin: 0px 20px 0px 0px;
}
.info-biolica__img {
  max-height: 600px;
}
.questions__container {
  line-height: 1.9rem;
  letter-spacing: 0.025em;
}
.questions__title.title {
  font-size: 30px;
}
.questions__question {
  margin: 38px 0px 0px 0px;
}
.questions__list {
  margin: 20px 0px 0px 0px;
}

.list-questions__item {
  position: relative;
  padding: 0px 0px 0px 60px;
}
.list-questions__item::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #CC0000;
  border-radius: 50%;
  top: 12px;
  left: 40px;
}

.register__body {
  margin: 50px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register__img-bg {
  border-radius: 60px;
  max-height: 700px;
}
.register__form {
  flex: 0 1 600px;
  padding: 24px;
  margin: 0px 0px 0px -70px;
  text-align: center;
  background-color: hsla(0deg, 0%, 100%, 0.85);
  border: 1px solid #CC0000;
}

.form-register__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 2rem;
}
.form-register__box-input {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-register__box-input:not(:last-child) {
  margin: 0px 0px 8px 0px;
}
.form-register__text-input {
  flex: 0 1 30%;
  text-align: start;
  font-size: 15px;
  font-weight: 700;
}
.form-register__input {
  flex: 0 1 300px;
  background-color: #f2f2f2;
  padding: 5px 16px;
  outline: none;
}
.form-register__button {
  padding: 12px 16px;
  margin: 14px 0px 4px 0px;
  font-size: 16px;
  background: #CC0000;
  color: #FFF;
  font-family: "Poppins", sans-serif;
}
.form-register__text {
  font-size: 12px;
  line-height: 1.25rem;
  margin: 10px 0px 0px 0px;
}
.form-register__text span {
  color: #CC0000;
}

.comments__list {
  margin: 20px 0px 20px 0px;
}
.comments__list > *:not(:last-child) {
  margin: 0px 0px 40px 0px;
}
.comments__item {
  display: flex;
  align-items: flex-start;
  padding: 0px 0px 10px 0px;
  border-bottom: 1px solid rgb(209, 209, 209);
}
.comments__item:nth-child(n+4) {
  display: none;
}
.comments__item.is-visible {
  display: flex;
}
.comments__avatar {
  margin: 0px 20px 0px 0px;
}
.comments__ava-img {
  width: 50px;
  height: 50px;
}
.comments__img {
  max-height: 400px;
}
.comments__body {
  flex: 0 1 900px;
}
.comments__date {
  margin: 0px 0px 6px 0px;
  color: #B4A76C;
  font-size: 0.8rem;
  line-height: 1.3em;
  letter-spacing: 0.04em;
}
.comments__name {
  margin: 0px 0px 10px 0px;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.4rem;
  color: #333333;
}
.comments__text {
  font-size: 0.8rem;
  line-height: 1.3rem;
  color: #333333;
}
.comments__img-box {
  margin: 10px 0px 0px 0px;
  display: flex;
  align-items: center;
}
.comments__img-box > *:not(:last-child) {
  margin: 0px 10px 0px 0px;
}
.comments__sublist {
  margin: 30px 0px 0px 0px;
}
.comments__sub-item {
  display: flex;
  align-items: flex-start;
}
.comments__more {
  display: block;
  margin: 30px auto 20px;
  padding: 8px 10px;
  border: 1px solid #090909;
  font-size: 0.8rem;
  line-height: 1.3rem;
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
