@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap);
@charset "UTF-8";
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow::before {
  content: "\e900";
}

._icon-check:before {
  content: "\e901";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 102.5rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.btn {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #707070;
  border: 1px solid #707070;
  border-radius: 10px;
  text-align: center;
}
.btn-blue {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  background: #326cf9;
  border-radius: 10px;
  text-align: center;
}

.title {
  text-align: center;
  font-weight: 600;
  font-size: 75px;
  line-height: 149.3333333333%;
}

.pretitle {
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  line-height: 152%;
  color: #3D82F2;
}

.subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 150%;
  color: #707070;
}

.header {
  margin: 46px 0px 0px 0px;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__buttons > *:not(:last-child) {
  margin: 0px 24px 0px 0px;
}
.header__button.btn {
  border: none;
  transition: all 0.5s;
}
.header__button.btn:hover {
  color: #3c82f4;
}
.header__button.btn-blue {
  padding: 12px 21px;
}

.list-header {
  display: flex;
  align-items: center;
}
.list-header__item:not(:last-child) {
  margin: 0px 39px 0px 0px;
}
.list-header__link {
  font-weight: 500;
  font-size: 21px;
  line-height: 152.380952381%;
  color: #707070;
  transition: all 0.5s;
}
.list-header__link:hover {
  color: #3c82f4;
}
.list-header__link-arrow {
  position: relative;
}
.list-header__link-arrow::before {
  font-size: 7px;
  position: absolute;
  top: 50%;
  padding: 0px 0px 0px 115px;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
.footer {
  margin: 183px 0px 50px 0px;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__logo {
  margin: 0px 10px 0px 0px;
}
.footer__logo-mail {
  display: block;
  font-weight: 400;
  font-size: 27px;
  line-height: 148.1481481481%;
  color: #707070;
}
.footer__list {
  display: flex;
  align-items: center;
}

.list-footer__item:not(:last-child) {
  margin: 0px 42px 0px 0px;
}
.list-footer__link {
  font-weight: 500;
  font-size: 28px;
  line-height: 150%;
  color: #707070;
  transition: all 0.5s;
}
.list-footer__link:hover {
  color: #326DF9;
}

body {
  background: #000;
}

.page__main-block {
  margin: 128px 0px 0px 0px;
}
.page__creators-love {
  margin: 188px 0px 0px 0px;
}
.page__connect {
  margin: 162px 0px 0px 0px;
}
.page__share {
  margin: 150px 0px 0px 0px;
}
.page__send-emails {
  margin: 189px 0px 0px 0px;
}
.page__experts {
  margin: 150px 0px 0px 0px;
}
.page__get-started {
  margin: 188px 0px 0px 0px;
}
.page__price {
  margin: 126px 0px 0px 0px;
}

.main-block__container {
  text-align: center;
}
.main-block__title {
  font-weight: 700;
  font-size: 112px;
  line-height: 114.2857142857%;
}
.main-block__title span {
  display: block;
  background: linear-gradient(90deg, #fe6783 1.9%, #ffbf84 97.1%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-block__text {
  max-width: 694px;
  margin: 136px auto 0;
  font-weight: 500;
  font-size: 40px;
  line-height: 150%;
}
.main-block__buttons {
  margin: 50px 0px 0px 0px;
}
.main-block__buttons > *:not(:last-child) {
  margin: 0px 26px 0px 0px;
}
.main-block__button {
  font-weight: 500;
  line-height: 150%;
  width: 313px;
}
.main-block__button.btn-blue {
  padding: 23px 0;
}
.main-block__button.btn {
  padding: 23px 0;
}
.main-block__subtext {
  margin: 21px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-block__subtext::before {
  content: url("../img/main/main-block/Dot.svg");
  margin: 0px 9px 0px 0px;
  max-height: 28px;
}
.main-block__subtext span {
  color: #707070;
}

.creators-love__contain {
  max-width: 1483px;
  margin: 0 auto;
}
.creators-love__body {
  margin: 64px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.creators-love__column {
  padding: 0 -10px;
  flex: 0 1 33.333%;
}
.creators-love__item {
  margin: 0 10px;
}

.item-creators-love {
  text-align: center;
}
.item-creators-love__title {
  font-weight: 600;
  font-size: 35px;
  line-height: 148.5714285714%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-creators-love__title span {
  max-height: 37px;
  margin: 0px 8px 0px 0px;
}
.item-creators-love__text {
  margin: 10px 0px 0px 0px;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: #707070;
}

.connect__contain {
  max-width: 1934px;
  margin: 0 auto;
}
.connect__subtitle {
  max-width: 929px;
  margin: -15px auto 0;
}
.connect__buttons {
  margin: 34px 0px 0px 0px;
  text-align: center;
}
.connect__button {
  width: 313px;
  padding: 23px 0;
  transition: all 0.5s;
}
.connect__button:hover {
  color: #fff;
  background: #326cf9;
}
.connect__box {
  position: relative;
}
.connect__body {
  max-width: 1400px;
  margin: 100px auto 0;
}

.body-connect__pretitle {
  font-weight: 500;
  font-size: 30px;
  line-height: 150%;
}
.body-connect__title {
  margin: 50px 0px 0px 0px;
  max-width: 548px;
  text-align: left;
}
.body-connect__title span {
  color: #3c82f4;
}
.body-connect__list {
  margin: 27px 0px 0px 0px;
}
.body-connect__list > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.body-connect__buttons {
  margin: 66px 0px 0px 0px;
}
.body-connect__buttons > *:not(:last-child) {
  margin: 0px 24px 0px 0px;
}
.body-connect__button {
  width: 207px;
  padding: 17px 0;
}
.body-connect__img {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
}
.body-connect__img-bg {
  max-height: 640px;
}

.list-connect__item {
  font-weight: 400;
  font-size: 23px;
  line-height: 147.8260869565%;
}
.list-connect__item span {
  display: inline-block;
  width: 33px;
  height: 33px;
  background: #2d2d2d;
  border-radius: 50%;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.share__contain {
  max-width: 1731px;
  margin: 0 auto;
}
.share__subtitle {
  max-width: 886px;
  margin: 0 auto;
}
.share__body {
  margin: 100px 0px 0px 0px;
  display: flex;
  align-items: center;
}
.share__column {
  flex: 0 1 50%;
  margin: 0 10px;
}
.share__item {
  padding: 0 -10px;
  background: #0d0d0d;
  height: 680px;
  position: relative;
}
.share__buttons {
  margin: 49px 0px 0px 0px;
  text-align: center;
}
.share__button {
  width: 283px;
  padding: 22px 0;
}

.item-share__pretitle {
  padding: 33px 0px 0px 45px;
  font-weight: 400;
  font-size: 30px;
  line-height: 150%;
  color: #0fc65c;
}
.item-share__title {
  margin: 15px 0px 0px 45px;
  font-weight: 600;
  font-size: 80px;
  line-height: 150%;
}
.item-share__title span {
  display: block;
  color: #919191;
}
.item-share__title-box {
  max-width: 415px;
}
.item-share__img-bg {
  position: absolute;
  right: 0;
  bottom: 0;
}

.send-emails__contain {
  max-width: 1934px;
  margin: 0 auto;
}
.send-emails__subtitle {
  max-width: 915px;
  margin: -15px auto 0;
}
.send-emails__box {
  position: relative;
}
.send-emails__body {
  max-width: 1400px;
  margin: 100px auto 0;
}

.body-send-emails__pretitle {
  font-weight: 500;
  font-size: 30px;
  line-height: 150%;
}
.body-send-emails__title {
  margin: 50px 0px 0px 0px;
  max-width: 697px;
  text-align: left;
}
.body-send-emails__title span {
  color: #3c82f4;
}
.body-send-emails__list {
  margin: 27px 0px 0px 0px;
}
.body-send-emails__list > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.body-send-emails__buttons {
  margin: 66px 0px 0px 0px;
}
.body-send-emails__buttons > *:not(:last-child) {
  margin: 0px 24px 0px 0px;
}
.body-send-emails__button {
  width: 207px;
  padding: 17px 0;
}
.body-send-emails__img {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
}
.body-send-emails__img-bg {
  max-height: 640px;
}

.list-send-emails__item {
  font-weight: 400;
  font-size: 23px;
  line-height: 147.8260869565%;
}
.list-send-emails__item span {
  display: inline-block;
  width: 33px;
  height: 33px;
  background: #2d2d2d;
  border-radius: 50%;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.experts__img {
  margin: 52px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.experts__img-bg {
  max-width: 1826px;
}
.experts__body {
  margin: 188px 0px 0px 0px;
}

.body-experts {
  position: relative;
  height: 733px;
}
.body-experts__text {
  height: 733px;
  max-width: 1236px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 70px;
  line-height: 150%;
  text-align: center;
}
.body-experts__img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.get-started__contain {
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
}
.get-started__title {
  font-weight: 700;
  font-size: 100px;
  line-height: 150%;
}
.get-started__subtitle {
  font-weight: 400;
  font-size: 43px;
  line-height: 148.8372093023%;
}
.get-started__buttons {
  margin: 14px 0px 0px 0px;
}
.get-started__button {
  width: 472px;
  padding: 28px 0;
}
.get-started__text {
  margin: 26px 0px 0px 0px;
  font-weight: 700;
  font-size: 38px;
  line-height: 57px;
}
.get-started__text span {
  font-weight: 400;
  color: #707070;
}
.get-started__text::before {
  content: url("../img/main/main-block/Dot.svg");
  margin: 0px 22px 0px 0px;
  max-height: 28px;
}

.price__body {
  margin: 60px -20px 0px;
  display: flex;
  flex-wrap: wrap;
}
.price__column {
  padding: 0 20px;
  flex: 0 1 33.333%;
}
.price__item {
  padding: 25px;
  background: #131313;
  border: 1px solid #707070;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: all 0.5s;
}
.price__item:hover {
  background: #3c82f4;
}
.price__item:hover > * {
  color: #FFF;
}
.price__item:hover .item-price__total > * {
  color: #FFF;
  border: none;
}
.price__item:hover .item-price__buttons {
  border: 3.5px solid #FFF;
  border-radius: 10px;
  background: #FFF;
  color: #3C82F4;
}

.item-price__content {
  flex: 1 1 auto;
}
.item-price__title {
  font-weight: 400;
  font-size: 28px;
  line-height: 150%;
  color: #b4b1b1;
}
.item-price__title span {
  display: block;
  font-weight: 600;
  font-size: 50px;
  line-height: 150%;
  color: #ffffff;
}
.item-price__total {
  margin: 20px 0px 0px 0px;
  font-weight: 700;
  font-size: 69px;
}
.item-price__total .total {
  font-weight: 400;
  font-size: 26px;
  color: #b4b1b1;
}
.item-price__total .or {
  display: inline-block;
  font-weight: 400;
  font-size: 28px;
  color: #b4b1b1;
  border-bottom: 1px solid #b4b1b1;
}
.item-price__collect {
  margin: 50px 0px 0px 0px;
  font-weight: 700;
  font-size: 27px;
  line-height: 148.1481481481%;
}
.item-price__collect span {
  display: block;
  font-weight: 400;
  font-size: 28px;
  line-height: 150%;
}
.item-price__pretext {
  margin: 45px 0px 0px 0px;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #b4b1b1;
}
.item-price__text {
  margin: 53px 0px 0px 0px;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
}
.item-price__list {
  margin: 26px 0px 0px 0px;
}
.item-price__buttons {
  margin: 79px 0px 0px 0px;
  border: 3.5px solid #4681e7;
  border-radius: 10px;
}
.item-price__button {
  display: block;
  max-width: 428px;
  margin: 0 auto;
  text-align: center;
  padding: 32px 0;
  font-weight: 500;
  font-size: 27px;
  line-height: 235.2941176471%;
}

.list-item-price__item {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  display: flex;
  align-items: center;
}
.list-item-price__item:not(:last-child) {
  margin: 0px 0px 20px 0px;
}
.list-item-price__item::before {
  margin: 0px 10px 0px 0px;
  font-size: 17px;
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
